Package: com.kasiim.nooldertext
Name: noOlderText
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: kasiim
Author: kasiim
Section: Tweaks
