Package: com.kasiimh1.hidepagedots
Name: HidePageDots
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hides Page Dots on SpringBoard
Maintainer: kasiimh1
Author: kasiimh1
Section: Tweaks
