Package: com.kasiim.infuse++
Name: Infuse++
Version: 0.0.2
Architecture: appletvos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: Kasim Hussain
Author: Kasim Hussain
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
